[*.cs]

# CA1416: 플랫폼 호환성 유효성 검사
dotnet_diagnostic.CA1416.severity = none

root = true

[*]
charset = utf-8
indent_style = tab
indent_size = 2
tab_width = 2
trim_trailing_whitespace = true
insert_final_newline = true